.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 1rem;
}

.button__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game__button{
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 330px;
    width: 330px;
    cursor: pointer;
    transition: all 0.2s ease;
    border:  white;
    border-radius: 70%;
    box-shadow: 2px 15px 0px darkslategray;
}
.game__button p{
    background-color: #48abe0;
}

.game__button:active{
    background-color: #48abe0;
    box-shadow: 0 10px 5px darkslategray;
    transform: translateY(2px);
}